.col-md-2{
padding-left: 0px;

}
.col-md-10{
padding-top: 60px;
}
.col-md-12{
margin-top: 60px;

}
.col-md-2 .navbar-default .sidebar-nav{
    width:130px;
    max-height: 900px; /**/
height:100%;
}

.icon{
    width: 25px;
}